<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/resume.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
        <link rel="shortcut icon" href="free.ico">
        <title>FREE履历</title>
    </head>
      <body>
        <div id="resume" v-cloak class="col-md-12 col-sm-12 col-xl-12" style="height: 100%;overflow-y: auto;">
            <div class="col-md-12 col-sm-12 col-xl-12 resume" style="padding: 0;height: auto;width:76%;min-width: 76%;max-width: 937px;margin-left: 12%;margin-bottom: 40px;">
                <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0px;padding-bottom: 20px;">
                    <div class="col-md-12 col-sm-12 col-xl-12 img" style="padding: 0;">
                        <img v-bind:src="img" class="one">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;margin-top:-120px;">
                        <div class="col-md-12 col-sm-12 col-xl-12 name" style="padding: 0;">
                            <span style="font-weight: bold;">{{name}}</span>
                        </div>
                
                         <div class="col-md-12 col-sm-12 col-xl-12 " style="padding: 0;">
                            <ul style="text-align: left;list-style: none;">
                                 <li style="float: left;">
                                    {{job}}
                                </li>
                                <li style="float: left;">
                                    工作时长：{{date(jobtimes)}}
                                </li>
                                <li style="float: left;">
                                   {{salaryname}}：{{salarys(salary)}}K
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xl-12 " style="padding: 0;">
                            <ul style="text-align: left;list-style: none;">
                                <li style="float: left;">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>{{email}} 
                                </li>
                                <li style="float: left;">
                                    <i class="fa fa-phone" aria-hidden="true"></i> {{phone}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="col-md-12 col-xs-12col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: auto;">
                    <div class="education">
                        <span class="education_ba">
                            <i class="fa fa-address-card-o fa-1" style="margin-right: 10px;"></i>{{education_ba}}
                        </span>
                        <hr / style="border-top: 1px solid #161515;">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xl-12">
                       <div class="col-md-12 col-sm-12 col-xl-12" v-for="date in education">
                            <div class="col-md-6 col-sm-12 col-xl-12 three"><strong>{{date.school}}</strong>&nbsp;&nbsp;{{date.region}}</div>
                            <div class="col-md-6 col-sm-12 col-xl-12 three" style="text-align: right;">{{date.time}}</div>
                            <div class="col-md-6 col-sm-12 col-xl-12 three"><strong>{{date.degree}}</strong>&nbsp;&nbsp;{{date.professional}}</div>
                            <div class="col-md-6 col-sm-12 col-xl-12 three" style="text-align: right;"><strong>{{date.course}}</strong></div>
                        </div>
                    </div>
                </section>
                <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: auto;">
                    <div class="education">
                        <span class="education_ba"><i class="fa fa-building fa-1" style="margin-right: 10px;"></i>{{work_experience}}</span>
                        <hr / style="border-top: 1px solid #161515;">
                    </div>
                     <div class="col-md-12 col-sm-12 col-xl-12" v-for="date in work_info">
                        <div class="col-md-5 col-sm-12 col-xl-12 three"><strong>{{date.company}}</strong>&nbsp;&nbsp;{{date.region}}</div>
                        <div class="col-md-4 col-sm-12 col-xl-12 three" style="text-align: center;">{{date.job_position}}</div>
                        <div class="col-md-3 col-sm-12 col-xl-12 three" style="text-align: right;">{{date.times}}</div>
                    </div>
                </section>
                <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: auto;">
                    <div class="education">
                        <span class="education_ba"><i class="fa fa-tags fa-1" style="margin-right: 10px;"></i>{{skills}}</span>
                        <hr / style="border-top: 1px solid #161515;">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xl-12 three">
                         <div class="col-md-6 col-sm-12 col-xl-12" v-for="date in skills_info">
                            <span><strong>{{date.name}}&nbsp;:&nbsp;</strong>{{date.language}}</span>
                        </div>
                    </div>
                </section>
                <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: auto;">
                    <div class="education">
                        <span class="education_ba"><i class="fa fa-users fa-1" style="margin-right: 10px;"></i>{{project_experience}}</span>
                        <hr  style="border-top: 1px solid #161515;" />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xl-12 three"  v-for="date in project_info" style="margin-bottom:5px;border-bottom:1px solid #cacaca">
                        <div class="col-md-12 col-sm-12 col-xl-12 three"><strong>{{date.projuct_name}}</strong></div>
                        <div class="col-md-6 col-sm-12 col-xl-12 three"><strong>{{date.name}}</strong>&nbsp;&nbsp;{{date.job_position}}</div>
                        <div class="col-md-6 col-sm-12 col-xl-12 three" style="text-align: right;">{{date.times}}</div>
                        <div class="col-md-12 col-sm-12 col-xl-12 three" style="text-align: left;">
                            <ul class="info" v-for="date in date.values">
                                <li>{{date.info}}</li>
                               
                            </ul>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xl-12 three">
                            <span>{{date.describe}}</span>
                        </div>
                    </div>
                </section>
                <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: auto;">
                    <div class="education">
                        <span class="user-o education_ba"><i class="fa fa-user-circle-o fa-1" style="margin-right: 10px;"></i>{{person_product}}</span>
                        <hr / style="border-top: 1px solid #161515;">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xl-12 three" v-for="date in person_info">
                        <div class="col-md-6 col-sm-12 col-xl-12 three"><strong>{{date.name}}</strong>&nbsp;&nbsp;{{date.job_position}}</div>
                        <div class="col-md-6 col-sm-12 col-xl-12 three" style="text-align: right;">{{date.times}}</div>
                        <div class="col-md-12 col-sm-12 col-xl-12 three" style="text-align: left;">
                            <ul class="info">
                                <li>{{date.info}}</li>
                            </ul>
                        </div>
                    </div>
                </section>
                 <section class="col-md-12 col-sm-12 col-xl-12" style="padding: 0;height: auto;">
                    <div class="education">
                        <span class="education_ba"><i class="fa fa-diamond fa-1" style="margin-right: 10px;"></i>其他</span>
                        <hr / style="border-top: 1px solid #161515;">
                    </div>
                     <div class="col-md-12 col-sm-12 col-xl-12 three" style="text-align: left;">
                        <ul class="info" v-for="date in other_list">
                            <li><strong>{{date.name}}&nbsp;:&nbsp;</strong><a :href=[date.language]>{{date.language}}</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </body>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script> 
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/react_resune.js"></script>   
</html>
